.auth-container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e293b;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

input:focus {
  outline: none;
  border-color: #2563eb;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: rgb(218, 38, 38);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

p {
  margin-top: 15px;
  text-align: center;
}

a {
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}